<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="5be7b09e-b3bd-4d83-850b-7dc08551bff8" Publisher="CN=raginik" Version="1.0.0.0" />
  <Properties>
    <DisplayName>TapIt-Win8-TestApp</DisplayName>
    <PublisherDisplayName>TapIt</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="TapIt_Win8_TestApp.App">
      <VisualElements DisplayName="TapIt-Win8-TestApp" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="TapIt-Win8-TestApp" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>